tools/
.snakemake/

*.swp
simulation/sim/

angsdput*

first_ibd_sim_test/
.nfs*
.RData
.Rhistory

*cluster_config.yaml
*plots_*

*.RData

benchmarking/*.log
benchmarking/*.arg
benchmarking/*.bcf
benchmarking/time*

benchmarking/*/*.log
benchmarking/*/*.arg
benchmarking/*/*.bcf
benchmarking/*/time*

plots/*/qscores*
plots/*/*.log
plots/*/*.arg
plots/*/*.bcf

